{% extends 'template.html' %} {% block body %}


<body onload='act("Home")'>{% endblock body %} {% block content %}

    <script>
        var selectedOption = "";
        function showDiv() {

            if (document.getElementById('try').style.display == "none") {
                document.getElementById('try').style.display = "block";
                document.getElementById('texto').innerHTML = "Please Select the level first then start with the game!!!";

                document.getElementById('levelstatus').innerHTML = "LEVEL : " + selectedOption.toUpperCase();
                console.log(selectedOption);

            }
            else {
                selectedOption = $("input:radio[name=radio]:checked").val();
                document.getElementById('try').style.display = "none";
                document.getElementById('texto').innerHTML = "";
                document.getElementById('levelstatus').innerHTML = "LEVEL : " + selectedOption.toUpperCase();


            }
        }

    </script>


    <div class="outputs">
        <div id="tcon" style="text-align: center;"><span>Time: </span><span id="time">00:00:00</span></div>
        <div id="levelcss" style="text-align: center;">
            <p id="levelstatus"> LEVEL : Select Level</p>
        </div>
        <div id="game-grid">
            <div id="table">
                <table>

                    <tbody>
                        <tr>
                            <td class="nav">
                            </td />
                            <th class="nav">1</th>
                            <th class="nav">2</th>
                            <th class="nav">3</th>
                            <th class="nav">4</th>
                        </tr>
                        <tr id="row1">
                            <th class="nav">A</th>
                            <td id="cell-A1"><input id="cell_A1" class="Input row1 col1 grid1" autocomplete="off"></td>
                            <td id="cell-A2"><input id="cell_A2" class="Input row1 col2 grid1" autocomplete="off"></td>
                            <td id="cell-A3"><input id="cell_A3" class="Input row1 col3 grid1" autocomplete="off"></td>
                            <td id="cell-A4"><input id="cell_A4" class="Input row1 col4 grid2" autocomplete="off"></td>
                        
                        </tr>

                        <tr id="row2">
                            <th class="nav">B</th>

                            <td id="cell-B1"><input id="cell_B1" class="Input row2 col1 grid1" autocomplete="off"></td>
                            <td id="cell-B2"><input id="cell_B2" class="Input row2 col2 grid1" autocomplete="off"></td>
                            <td id="cell-B3"><input id="cell_B3" class="Input row2 col3 grid1" autocomplete="off"></td>
                            <td id="cell-B4"><input id="cell_B4" class="Input row2 col4 grid2" autocomplete="off"></td>
                        
                        </tr>
                        <tr id="row3">
                            <th class="nav">C</th>

                            <td id="cell-C1"><input id="cell_C1" class="Input row3 col1 grid1" autocomplete="off"></td>
                            <td id="cell-C2"><input id="cell_C2" class="Input row3 col2 grid1" autocomplete="off"></td>
                            <td id="cell-C3"><input id="cell_C3" class="Input row3 col3 grid1" autocomplete="off"></td>
                            <td id="cell-C4"><input id="cell_C4" class="Input row3 col4 grid2" autocomplete="off"></td>
                        
                        </tr>
                        <tr id="row4">
                            <th class="nav">D</th>

                            <td id="cell-D1"><input id="cell_D1" class="Input row4 col1 grid4" autocomplete="off"></td>
                            <td id="cell-D2"><input id="cell_D2" class="Input row4 col2 grid4" autocomplete="off"></td>
                            <td id="cell-D3"><input id="cell_D3" class="Input row4 col3 grid4" autocomplete="off"></td>
                            <td id="cell-D4"><input id="cell_D4" class="Input row4 col4 grid5" autocomplete="off"></td>
                        
                        </tr>

                        </tr>
                    </tbody>


                </table>
            </div>
            <img id="loader" src="{{url_for('static',filename='icon/loading.gif')}}" alt="" srcset="">
            <div id="overlay"><span class="fa fa-play" height="100px" width="100px" id="fa-play" onclick="off()"></span>
            </div>

        </div>
    </div>
    <br />

    <div class="labels " id="try" style="display: none;">

        <p id="texto">Please Select the level first then start with the game!!!</p>
        <label class="container">Easy
            <input id="Easy" type="radio" value="Easy" checked="checked" name="radio">
            <span class="checkmark"></span>
        </label>
        <label class="container">Medium
            <input id="Medium" type="radio" value="Medium" name="radio">
            <span class="checkmark"></span>
        </label>
        <label class="container">Hard
            <input id="Hard" type="radio" value="Hard" name="radio">
            <span class="checkmark"></span>
        </label>


    </div>

    <div class="flex-container">

        <button id="newGame" class="flex-item-1" onclick="showDiv()">Start New Game</button>
        <button id="pause" class="flex-item-2" onclick="on();">Pause</button>
        <button id="submitSolution" class="flex-item-3">Submit</button>
        <button id="check" class="flex-item-4">Check Solution</button>
    </div>



    {% endblock content %}